<div class="auth-page">
  <app-header subtitle="DSC FPTU HCMC - Angular Boilerplate" title="LOGIN"></app-header>
  <form #formSignIn class="form-signin" (submit)="onSubmit($event)">
    <div class="form-title">Login</div>
    <div class="form-fields">
      <mat-form-field appearance="fill">
        <mat-label>USERNAME/EMAIL</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>PASSWORD</mat-label>
        <input matInput [type]="passwordHidden ? 'password' : 'text'">
        <button
          mat-icon-button
          matSuffix
          (click)="passwordHidden = !passwordHidden"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="passwordHidden">
          <mat-icon>{{ passwordHidden ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="form-forgot-password"><a [routerLink]="'/forgot-password'">Forgot?</a></div>
    <div class="form-remember-me">
      <mat-checkbox color="primary">Remember me</mat-checkbox>
    </div>
    <div class="form-actions">
      <button mat-raised-button color="primary">LOGIN</button>
      <button class="btn-cancel" mat-flat-button>CANCEL</button>
    </div>
    <mat-divider></mat-divider>
    <div class="form-dont-have-an-account">
      <span>Don’t have an account? <a [routerLink]="'/signup'">Signup</a></span>
    </div>
  </form>
</div>
